# Ignore Everything
/*

# Except:
## Sources
!/src
!/ExE-Boss-API-*

## Git
!.gitattributes
!.gitignore
!README*
!LICENSE*

## Gradle
!/*.gradle
/.gradle
!/build.properties
!/gradle.properties
!/gradlew*
!/gradle

## Travis
!/.travis.yml

# Unwanted crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~
